name: Build and Deploy build.tar.gz to S3

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Archive build folder
        run: tar -czvf build.tar.gz build

      - name: Upload build.tar.gz to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl private --delete
        env:
          AWS_S3_BUCKET: flyawayballooning-book
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
          SOURCE_DIR: .
          DEST_DIR: /
